/*
 * Custom translucent site header
 */

body {
	background-color: #fff !important;
    color: #2A3F54E6;
    font-family: "Helvetica Neue", Roboto, Arial, "Droid Sans", sans-serif;
    font-size: 13px;
    font-weight: 400;
    line-height: 1.471
}
.site-header {
  background-color: rgba(0, 0, 0, .85);
  -webkit-backdrop-filter: saturate(180%) blur(20px);
  backdrop-filter: saturate(180%) blur(20px);
}
.site-header a {
  color: #999;
  transition: ease-in-out color .15s;
}
.site-header a:hover {
  color: #fff;
  text-decoration: none;
}
.site-header a svg {
	padding: 0;
	margin: 0;
}

.backcover {
	background-size: cover;
	height: 310px;
	width: 100%;
}

.setting1 {
	height: 55px;
	padding: 6px .75rem !important;
	color: #2A3F54E6;
	border-bottom: 2px solid #2A3F54E6;
}
.setting2 {
	font-size: 21pt;
	border-bottom: 2px solid #2A3F54E6;
}
.subSetting2 {
	font-size: 70%; 
	font-style: italic;
}
.setting3 {
	font-size: 18pt;
	border-bottom: 1px solid #2A3F54E6;
}
.subSetting3 {
	font-size: 50%;
}
/* override Materialize */
.btn-large {
	height: 70px;
	line-height: 70px;
	width: 90%;
	font-weight: 700;
	box-shadow: none;
	background: #2A3F54E6;
}
.btn-large:hover {
	box-shadow: 0 7px 7px 0 rgba(0,0,0,0.14),0 3px 1px -2px rgba(0,0,0,0.12),0 1px 5px 0 rgba(0,0,0,0.2);
	background: #2A3F54CC;
}
.row {

}
.breadcrumb::before {
	color: #2A3F54E6;
}
.breadcrumb {
	color: #2A3F54E6;
}
.nav-wrapper .input-field input[type="search"] {
	color: #658095;
	border-radius: 20px;
}

.nav-wrapper .input-field.active  {
	color: #000;
}
nav {
	-webkit-box-shadow: none;
    box-shadow: none;
    height: 50px;
    line-height: 50px;
}
nav.nav {
	background-color:#2A3F54E6;
}
nav .nav-wrapper i {
	line-height: 50px;
}
nav .input-field label i {
    color: rgb(98, 123, 143);
}
nav .input-field label.active i {
    color: #658095;
}

@media only screen and (min-width: 993px){
	.container {
		width: 77%;
	}
}
.searchBar {
	background-color: #ffffffe6;
	box-shadow: none;
	border: 1px solid #b0bec5;
	border-radius: 20px;
	height: 50px;
}
.dropdown-content li > a, .dropdown-content li > span {
	color: #627b8f;
}